img {
    height: auto;
    display: block;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 1.25;
    margin-bottom: 0;
    text-align: center;
}

  * {
    box-sizing: border-box;
  }
  img {
    width: 100%;
    gap: 20px;

  }
 
  a:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

  }
.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
  }
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 20px;
}
.sara{
  gap: 30px;
  padding: 20px
}
.pic2 {
  grid-column: 1;
  grid-row: 1;
}
.pic3 {
  grid-column: 2;
  grid-row: 1;

}
.pic4 {
  grid-column: 3;
  grid-row: 1;
}
.pic5 {
  grid-column: 4;
  grid-row: 1;
}



  
 