img {
  width: 100%;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid_1-1 img {
  width: 100%;
}

.grid_1-1 p {
  text-align: left;
}

h3 {
  font-family: "Playfair Display";
  font-weight: bold;
}

.hide {
  display: none;
}

@media (max-width: 1200px) {
  .grid_1-1 p {
    padding-left: 0;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .order {
    order: 1;
  }

  .hide {
    display: block;
  }
}

@media (max-width: 599px) {
  .grid_1-1 p {
    padding-left: 0;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .order {
    order: 1;
  }

  .hide {
    display: block;
  }
}
