.about-section {
  background: url(/img-jewelry/a0b435_9b9d661076a14624a3a113abe50011db_mv2.webp) no-repeat right;
  background-size: 55%;
  overflow: hidden;
  padding: 50px 0;
  margin: 10px;
}

.inner-container {
  width: 55%;
  float: left;
  background-color: #c5c0bc;
  padding: 150px;
}

.inner-container h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.text {
  font-size: 13px;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.button {
  height: 50px;
  width: 450px;
  font-size: 18px;
  font-weight: bold;
  color: #343031;
  background: #d3c8b6;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}

img {
  width: 100%;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}

.grid_1-1 img {
  width: 100%;
}

.grid_1-1 p {
  text-align: left;
}

h3 {
  font-family: "Playfair Display";
  font-weight: bold;
}

h2 {
  margin: 15px;
}

.hide {
  display: none;
}

@media (max-width: 1200px) {
  .grid_1-1 p {
    padding-left: 0;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .order {
    order: 1;
  }

  .hide {
    display: block;
  }

  .hide-1 {
    display: none;
  }
}

@media (max-width: 599px) {
  .grid_1-1 p {
    padding-left: 0;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .order {
    order: 1;
  }

  .hide {
    display: block;
  }
}
