@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1cm;
  }

  /* .grid_1-1 img {
    grid-column: 1/2;
    grid-row: 1/4;
    max-width: 100%;
  } */

  .grid_1-1 h2 {
    grid-column: 2/3;
  }

  .grid_1-1 p {
    grid-column: 2/3;
  }

  .col-order {
    order: -1;
  }
}
/* * {
  box-sizing: border-box;
}
.main {
  width: 1100px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about {
  width: 100%;
  padding: 78px 0px;
}

.about img {
  height: auto;
  width: 420px;
}

.about-text {
  width: 550px;
  background-color: #c5c0bc;
  margin: 10px;
  padding: 10px;
}

.main-img {
  place-content: end;
} */
