/* img {
  height: auto;
  display: block;
} */

h2 {
  text-align: center;

  font-size: 40px;
}

* {
  box-sizing: border-box;
}
.column {
  flex: 30%;
  /* padding: 5px; */
}

img {
  width: 100%;
  gap: 10px;
}
.container {
  display: flex;
}

.p {
  align-items: center;
}
