/* img {
  height: auto;
  display: block;
} */

h2 {
  text-align: center;

  font-size: 40px;
}

* {
  box-sizing: border-box;
}
.column {
  flex: 30%;
  /* padding: 5px; */
}

img {
  width: 100%;
  gap: 10px;
}
.container {
  display: flex;
}

.p {
  align-items: center;
  color: beige;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 10px;
  grid-auto-rows: minimax(100%, auto);
}
