h2 {
  text-align: center;

  font-size: 40px;
}

.column {
  flex: 30%;
  /* padding: 5px; */
}

img {
  width: 100%;
  gap: 10px;
  margin: 10px;
}

.p {
  align-items: center;
  color: beige;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 10px;
  grid-auto-rows: minimax(100%, auto);
}
.buttons button {
  color: #343031;
  background: #e9e7e6;
  padding: 10px;
  gap: 20px;
}

@media (max-width: 601px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 601px) {
  .grid2 {
    grid-template-columns: 1fr;
  }
}

/* .container {
  display: flex;
} */

/* * {
  box-sizing: border-box;
} */
