/* Dine styles her */
form {
  padding: 2rem;
  /* background: #d3c8b6; */
  border-radius: 8px;
  background-color: #d3c8b6;
}

label,
input,
button {
  width: 100%;
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
}

.botton {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

/* Global styles */
* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.25;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

/* Main styles */
main {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 2rem;
  margin-block: 3rem;
}

section {
  display: grid;
  gap: 3rem;
  align-items: start;
}

section header {
  display: grid;
  gap: 1rem;
}

section header p {
  color: hsl(264 10% 40%);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

@media (max-width: 601px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
