@font-face {
  font-family: "text";
  src: url("../font/astralaga_regular-webfont.woff") format("woff");
}

html {
  --header: #d3c8b6;
  --textfarve: #c5c0bc;
  --baggrundsfarve: #e9e7e6;
  --footer: #343031;
}

h1,
p,
li {
  font-family: "text";
}

h1 {
  text-align: right;
  font-size: 60px;
}

body {
  background-color: var(--baggrundsfarve);
}

header {
  background-color: var(--header);
  padding: 5px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul a {
  color: var(--footer);
  text-decoration: none;
}

footer {
  background-color: var(--footer);
}

footer p,
a,
address {
  color: var(--textfarve);
  justify-content: right;
}
