@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* skriv "Playfair Display" til text */

@font-face {
  font-family: "astralaga";
  src: url("../font/astralaga_regular-webfont.woff") format("woff");
}

html {
  --header: #d3c8b6;
  --footerText: #c5c0bc;
  --baggrundsfarve: #e9e7e6;
  --textOgFooter: #343031;
  --active: ;
}

li {
  font-family: "astralaga";
}

h2,
p,
address,
button {
  font-family: "Playfair Display";
}
.active {
  font-weight: bolder;
}

.logo {
  font-family: "astralaga";
  text-decoration: none;
  color: var(--textOgFooter);
}

h1 {
  text-align: right;
  font-size: 60px;
  margin: 0%;
}

body {
  background-color: var(--baggrundsfarve);
}

header {
  background-color: var(--header);
  padding: 5px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin: 0% !important;
}

ul a {
  color: var(--footer);
  text-decoration: none;
}

footer * {
  padding: 0;
  box-sizing: border-box;
  position: center;
}

.container {
  max-width: 1170px;
  background-color: var(--textOgFooter);
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer {
  background-color: var(--textOgFooter);
  padding: 70px 0;
}

.footer-col {
  color: var(--footerText);
  width: 50%;
  padding: 0 15px;
  text-decoration: none;
}

.footer-col .some a {
  color: var(--footerText);
}

a:hover {
  color: #7d8283;
  text-decoration: none;
  cursor: pointer;
}

/* burgermenu */
.toggle-btn {
  font-family: "astralaga";
  background: transparent;
  padding: 5px;
  border: solid 1px;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
  place-content: center;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }

  .main-menu.shown {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
  }
}
